<?xml version="1.0" encoding="UTF-8" ?>
<widget
    xmlns       = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "br.org.hello2"
    versionCode = "1"
    version     = "1.2.2">
    
    <name>HELLO2</name>
    <author email="rodrigo@rdorval.com" href="http://www.rdorval.com">
        HELLO2 TESTE
    </author>
    <description>
        Aplicativo HELLO2
    </description>
    
    <content src="index.html" />
    <icon src="icon.png" />
    
    <allow-navigation href="*" />
    <allow-intent href="*" />
    <access origin="*"/>
    
    <access origin="http://build.phonegap.com" />
    <access origin="http://phonegap.com" />
    <access origin="http://phonegap.com" subdomains="true" />
    <access origin="http://phonegap.com" browserOnly="true" />
    
    <access origin="https://www.youtube.com" />
    <access origin="https://www.youtube.com" subdomains="true" />
    <access origin="https://www.youtube.com" browserOnly="false" />
    
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
 
    <!-- Core plugins -->
    <plugin name="cordova-plugin-battery-status" spec="1.2.5" />
    <plugin name="cordova-plugin-camera" spec="3.0.0" />
    <plugin name="cordova-plugin-console" spec="1.1.0" />
    <plugin name="cordova-plugin-contacts" spec="3.0.1" />
    <plugin name="cordova-plugin-device" spec="1.1.7" />
    <plugin name="cordova-plugin-device-motion" spec="2.0.1" />
    <plugin name="cordova-plugin-device-orientation" spec="2.0.1" />
    <plugin name="cordova-plugin-dialogs" spec="1.3.4" />
    <plugin name="cordova-plugin-file" spec="6.0.1" />
    <plugin name="cordova-plugin-geolocation" spec="3.0.0" />
    <plugin name="cordova-plugin-globalization" spec="1.0.9" />
    <plugin name="cordova-plugin-inappbrowser" spec="1.7.2" />
    <plugin name="cordova-plugin-media" spec="4.0.0" />
    <plugin name="cordova-plugin-media-capture" spec="2.0.0" />
    <plugin name="cordova-plugin-network-information" spec="1.3.4" />
    <plugin name="cordova-plugin-splashscreen" spec="4.1.0" />
    <plugin name="cordova-plugin-statusbar" spec="2.3.0" />
    <plugin name="cordova-plugin-vibration" spec="2.1.6" />
    <plugin name="cordova-plugin-whitelist" spec="1.3.3" />
    
    <preference name="AllowInlineMediaPlayback" value="true" />
    <preference name="Orientation" value="portrait" />
    <preference name="BackupWebStorage" value="cloud" />
    <preference name="FullScreen" value="true" />
    <preference name="SetFullscreen" value="true" />
    <preference name="ShowTitle" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="EnableViewportScale" value="false" />
    <preference name="KeyboardDisplayRequiresUserAction" value="true" />
    <preference name="MediaPlaybackRequiresUserAction" value="false" />
    <preference name="SuppressesIncrementalRendering" value="false" />
    <preference name="SuppressesLongPressGesture" value="false" />
    <preference name="Suppresses3DTouchGesture" value="false" />
    <preference name="GapBetweenPages" value="0" />
    <preference name="PageLength" value="0" />
    <preference name="PaginationBreakingMode" value="page" />
    <preference name="PaginationMode" value="unpaginated" />
    <preference name="CameraUsesGeolocation" value="false" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <preference name="android-minSdkVersion" value="23" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="StatusBarStyle" value="lightcontent" />
    
 
    <platform name="android">
        <preference name="SplashScreen" value="screen" />
        <icon density="ldpi" src="res/icon/android/drawable-ldpi-icon.png" />
        <icon density="mdpi" src="res/icon/android/drawable-mdpi-icon.png" />
        <icon density="hdpi" src="res/icon/android/drawable-hdpi-icon.png" />
        <icon density="xhdpi" src="res/icon/android/drawable-xhdpi-icon.png" />
        <icon density="xxhdpi" src="res/icon/android/drawable-xxhdpi-icon.png" />
        <icon density="xxxhdpi" src="res/icon/android/drawable-xxxhdpi-icon.png" />
        <splash density="land-ldpi" src="res/screen/android/drawable-land-ldpi-screen.png" />
        <splash density="land-mdpi" src="res/screen/android/drawable-land-mdpi-screen.png" />
        <splash density="land-hdpi" src="res/screen/android/drawable-land-hdpi-screen.png" />
        <splash density="land-xhdpi" src="res/screen/android/drawable-land-xhdpi-screen.png" />
        <splash density="land-xxhdpi" src="res/screen/android/drawable-land-xxhdpi-screen.png" />
        <splash density="land-xxxhdpi" src="res/screen/android/drawable-land-xxxhdpi-screen.png" />
        <splash density="port-ldpi" src="res/screen/android/drawable-port-ldpi-screen.png" />
        <splash density="port-mdpi" src="res/screen/android/drawable-port-mdpi-screen.png" />
        <splash density="port-hdpi" src="res/screen/android/drawable-port-hdpi-screen.png" />
        <splash density="port-xhdpi" src="res/screen/android/drawable-port-xhdpi-screen.png" />
        <splash density="port-xxhdpi" src="res/screen/android/drawable-port-xxhdpi-screen.png" />
        <splash density="port-xxxhdpi" src="res/screen/android/drawable-port-xxxhdpi-screen.png" />
    </platform>
	
</widget>


